* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #2d4059;
}
div#container {
  text-align: center;
}
#home ul li {
  padding: 1em;
  font-size: 24px;
  list-style-type: none;
}
ol,
ul,
li a,
p {
  color: #ea5455;
}
.heading {
  text-align: center;
  font-size: 50px;
}
img.image {
  display: block;
  margin: 0 auto 0 auto;
  width: 1200px;
  height: auto;
}
h1 {
  color: #fde9c9;
  margin: 20px 0 20px 0;
}
